// $test: 

.offices-accordion {

	&__item {

		&__title {

			display: flex;
			align-content: stretch;
			align-items: center;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			padding: 10px 0;
			padding-right: 20px;
			position: relative;

			&__button {

				width: 16px;
				height: 16px;
				color: var(--primary-medium-grey);
				display: flex;
				align-items: center;
				padding: 0 4px;

				& i.bi.bi-chevron-down {

					font-size: 10px;
				}
			}

			&__info {

				flex-grow: 1;
				display: flex;
				flex-direction: row;
			}

			&__icon {

				width: 15px;
				height: 15px;
				color: #959595;
				margin: 0 7.3px;
				display: flex;
				align-items: center;

				&__svg {

					display: block;
					width: 100%;
					height: 100%;
					// background-image: url('../../assets/svg/earth-globe-with-continents-maps.svg');
					-webkit-filter: invert(64%) sepia(9%) saturate(24%) hue-rotate(337deg) brightness(93%) contrast(80%);
					filter: invert(64%) sepia(9%) saturate(24%) hue-rotate(337deg) brightness(93%) contrast(80%);
					background-repeat: no-repeat;
					background-size: 13px 13px;
					object-fit: contain;

					&__folders {
						
						background-image: url('../../assets/svg/earth-globe-with-continents-maps.svg');
					}

					&__hall {
							
						background-image: url('../../assets/svg/city-hall.svg');
					}
						
					&__building {
						
						background-image: url('../../assets/svg/building-silhouette.svg');
					}

					&__house {
						
						background-image: url('../../assets/svg/house-door-fill.svg');
					}
				}
			}

			&__text {

				flex-grow: 1;  
				width: 100%;
				height: 15px;
				text-align: left;
				color: var(--primary-dark-grey);
				display: flex;
				align-items: center;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&__icon, &__text, &__button {

				flex-shrink: 1;
			}

			&__icon, &__info {

				flex-shrink: 1;
			}

			&:hover {

				background-color: #e9eaf9;
			}

			&--is-child {

				padding-left: 20px;
			}
		}

		&__content {

			display: none;
			// padding: 10px 20px;

			&--show {
				
				display: flex;
				flex-direction: column;
				// padding-left: 20px;
			}
		}
	}

	&__no-content {

		height: 50px;
		min-height: 50px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 14px;
		color: var(--primary-medium-grey);
	}
}