.add-modal-body {

	padding: 16px 5px;

	&__rows.row {

		margin-bottom: 24px;
	}

	&__fields {

		display: flex;
		flex-direction: column !important;

		&__text {

			height: 12px;
			font-size: 10px;
			text-align: left;
			color: var(--primary-medium-grey);
		}

		&__input {

			border: none;
			outline: none;
			border-bottom: 1px solid #eff0f5;

			height: 16px;
			text-align: left;
			color: var(--primary-dark-grey);

			&:last-child {

				min-height: 24px;
				// height: auto;
				max-height: 56px;
				resize: none;
			}

			&--select {

				height: 100%;
				height: 22px;
				padding: 2.6px 2px;

				-webkit-appearance: none;
				-moz-appearance: none;
				background: transparent;
				background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 26' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
				background-repeat: no-repeat;
				background-position-x: 100%;
				background-position-y: 100%;
			}
		}
	}
}
