.offices-layout {

	width: 100%;
	height: max-content;
	padding: 0;
	border-radius: 4px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	background-color: var(--ezycheck-white);
	display: flex;
    overflow: hidden;

	&__left {

		flex-basis: 25% !important;
		max-width: 25%;
		display: flex;
	}
	
	&__right {
		
		flex-basis: 75% !important;
		max-width: 75%;
		display: flex;
	}

	&__left, &__right {

		display: flex;
	}
}